/*GLOBAL RESET*/
body{
	margin: 0px;
	padding : 0px;
	font-family: 'Open Sans','calibri',helvetica;
}

/*END OF RESET*/

/*GLOBAL STYLE*/
.clear{
	clear: both;
}

hr{    
	margin-top:0px;
	border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

/*END OF GLOBAL*/

/*NAVBAR STYLE*/
.navbar{
	height: 50px;
	width: 100%;
	background-color : #2C3E50;
}

.navbar ul{
	margin : 0px;
	padding : 0px;
	list-style: none;
}
.navbar li{
	padding-left : 75px;
}


.navbar li a{
	margin: 0px;
	font-size: 20px;
	line-height: 20px;
	padding : 15px 10px;
	color : white;
	float: left;
	text-decoration: none;
}

.navbar li a:hover{
	background-color: #3498Db;
}

.search{
	width: 200px;
	margin: 0px;
	padding: 0px;
	float: right;
	padding: 10px 0px;
	margin-right:100px; 
}

.search input{
	margin : 0px;
	padding : 0px;
	width: 100%;
	border: none;
	height: 30px;
	padding : 0px 12px;
	box-sizing: border-box;
	border-radius: 4px;
	font-size: 16px;
	text-align: right;
}

/*END OF NAVBAR*/

/*CONTAINER STYLE*/

.container{
	width: 90%;
	margin : 0px auto;
	padding: 0px;
	background-color: white;
}

/*END OF CONTAINER*/

/*HEADER STYLE*/

.header-group{
	position: relative;
}

.header img{
	max-width: 100%;
	height: auto;
}

.header .caption{
	color : white;
	position: absolute;
	bottom: 8px;
	right: 20px;
	font-size: 50px;
}


/*MAIN CONTENT STYLE*/

.content{
	margin : 0 auto;
	padding-left: 10px;
}

.produk{
	width: 350px;
	height: 400px;
	margin : 10px 20px;
	margin : 1px solid #ECF0F1;
	float: left;
}

.produk img{
	width: 100%;
	border-radius: 8px;
	opacity: 0.9;
	transition-duration: 0.5s;
}

.produk img:hover{
	opacity: 1;
}

/*END OF MAIN CONTENT*/

/*FOOTER STYLE*/

.footer{
	height: 40px;
	width: 100%;
	background-color: #2C3E50;
	color : white;
	line-height: 40px;
	text-align: center;
}

/*END OF FOOTER*/

