body{
	padding: 0px;
	text-align: center;
	font-size: 27px;
	font-family: Calibri;
	margin: 0px;
}

ul{
	margin:0px;
	padding: 0px;
	list-style: none;
	display: block;
	background-color: red;

}
li{
	float: left;
	width: 80px;
	height: 80px;
	color: white;
}

li:hover{
	text-decoration: underline;
	color:black;

}

.clear{
	clear: both;

}
.navbar{
	height: 50px;
	background-color: purple		;


}